.root {
	height: 100%;
	width: 100%;
}

.colFlex {
  display: flex;
  flex-direction: column;
}

.nextButton {
	width: 65px;
	height: 60px;
	margin-top: 10px;
	margin-bottom: 6px;
}

.shapesImg {
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

@media (min-width:320px)  {
	/* smartphones; iPhone; portrait 480x320 phones */
	.content {
		padding: 18px;
		height: 100%;
	}

	.shapes {
		width: 88px;
		height: 36px;
		margin-left: 10px;
	}
}

@media (min-width:481px)  {
	/* portrait e-readers (Nook/Kindle); smaller tablets @ 600 or @ 640 wide. */
	.content {
		padding: 30px;
		height: 100%;
	}

	.shapes {
		width: 99px;
		height: 41px;
		margin-left: 10px;
	}
}

@media (min-width:641px)  {
	/* portrait tablets; portrait iPad; landscape e-readers; landscape 800x480 or 854x480 phones */
	.content {
		padding: 35px;
		height: 100%;
	}

	.shapes {
		width: 99px;
		height: 41px;
		margin-left: 10px;
	}
}

@media (min-width:961px)  {
	/* tablet; landscape iPad; lo-res laptops ands desktops */
	.content {
		padding: 35px;
		height: 100%;
	}

	.shapes {
		width: 106px;
		height: 44px;
		margin-left: 10px;
	}
}

@media (min-width:1025px) {
	/* big landscape tablets; laptops; and desktops */
	.content {
		padding: 40px;
		height: 100%;
	}

	.shapes {
		width: 106px;
		height: 44px;
		margin-left: 10px;
	}
}

@media (min-width:1281px) {
	/* hi-res laptops and desktops */
	.content {
		padding: 40px;
		height: 100%;
	}

	.shapes {
		width: 106px;
		height: 44px;
		margin-left: 10px;
	}
}

.heading {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	padding: 20;
	margin-bottom: 16px;
}

.headingHelperText {
	color: #fbfbfb;
	font-size: 34px;
	line-height: 1.125;
	padding: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	font-family: Manrope;
}

.headingAccentedText {
	color: #f38235;
	font-size: 34px;
	font-weight: 600;
	padding: 0px;
	margin-top: -4px;
	font-family: Manrope;
}

.contentDiv {
	color: #e9e9e9;
	font-size: 22px;
	opacity: 0.95;
	margin-left: 4px;
	font-family: Inter;
	font-weight: 400px;
	padding-right: 30px;
	line-height: 1.5;
}

.contentText {
	margin-top: 45px;
	color: #e9e9e9;
	font-size: 22px;
	opacity: 0.95;
	margin-left: 12px;
	font-family: Inter;
	font-weight: 400px;
	padding-right: 30px;
	line-height: 1.5;
}

.buttonHolder {
	margin-left: 4px;
}

.projectsHolder {
	display: flex;
	flex-wrap: wrap;
	column-gap: 22px;
	row-gap: 22px;
	width: 100%;
}

.buttonSeparator {
	margin-top: 40px;
}

.buttons {
	display: flex;
	flex-direction: row;
	margin-top: -36px;
	width: 100%;
	justify-content: center;
}

.contactButton {
	rotate: 180deg;
}
